@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-pause {
      animation-play-state: paused;
    }
  }

@layer base {
  .box-shadow-light {
    box-shadow: 0 8px 13px -3px #B2D3A8;
  }

  .underline-nav {
    text-decoration: underline 3px #2fbf71;
    text-underline-offset: 10px;
  }
}